* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 250%;
}

a {
    text-decoration: none;
    color: black;
}

input {
    height: 30px;
    margin-left: 10px;
}

button {
    width: 100%;
    margin: 10px;
    font-size: 200%;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: space-around;
    background-color: green;
    color: white;
}

button:hover {
    background-color: rgb(50, 131, 50);
}

.highscore{
    position: absolute;
    top: 25px;
    left: 25px;
}

#high-scores:hover {
    color: green;
}

.time {
    position: absolute;
    top: 25px;
    right: 50px;
}

.card {
    width: 80%;
    height: 400px;
    margin:  200px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    flex-direction: column
}

.quiz-heading, .quiz-body, .question-text {
    margin-bottom: 10px;
}

.hide {
    display: none;
}

#submit {
    width: 20%;
    margin-left: 40%;
}

.feedback {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreTitle {
    display: flex;
    justify-content: center;
    margin: 25px;
}

#scoreList, td {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid green;
    font-size: 50px;
}

.scoreButtonContainer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-button {
    width: 20%;
}

.score-button a {
    color: white;
}